<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <% @user.posts.each do |post| %>
    <h4><%= post.title %></h4>
    <div><%= post.body %></div>
    <ul>
    <% post.comments.each do |comment| %>
      <ul><%= comment.body %></ul>
    <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
